<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Favicon-->
    <link rel="shortcut icon" href="images/favicon(1).ico" type="image/x-icon">
    <link rel="icon" href="images/favicon(1).ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Express-Routes</title>
</head>

<body>
    <nav>
        <div class="item">Logo</div>
        <div class="item">
            <a href="/">Home</a>
        </div>
        <div class="item">
            <a href="/about">About</a>
        </div>
        <div class="item">btn2</div>
    </nav>